body {
  font-family: Georgia, serif;
  background-color: white;
  color: black;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 20px;
}

.container {
  width: 600px;
}

h1 {
  margin-bottom: 15px;
  font-size: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 80px);
  gap: 0px;
}

.grid-item {
  background-color: #cce5ff;
  border: 3px solid #007bff;
  display: grid;
  place-items: center;
  font-size: 18px;
  font-weight: bold;
}

.item1 {
  grid-column: 1;
  grid-row: 1 / 3;
}

.item2 {
  grid-column: 2;
  grid-row: 1 / 3;
}

.item3 {
  grid-column: 3 / 5;
  grid-row: 1;
}

.item4 {
  grid-column: 3 / 5;
  grid-row: 2;
}

.item5 {
  grid-column: 1 / 3;
  grid-row: 3;
}

.item6 {
  grid-column: 1 / 3;
  grid-row: 4;
}

.item7 {
  grid-column: 3;
  grid-row: 3 / 5;
}

.item8 {
  grid-column: 4;
  grid-row: 3 / 5;
}